---
import ListadoJugadores from "@/components/admin/ListadoJugadores";
import AdminLayout from "@/layouts/AdminLayout.astro";
---

<AdminLayout>
  <h1 class="text-title-black text-3xl font-semibold pt-2 pb-4">
    Listado de jugadores
  </h1>

  <ListadoJugadores client:load />
</AdminLayout>
