@import "tailwindcss";
@plugin '@/styles/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-semiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background-white: #ffffff;
  --color-title-black: #121417;
  --color-gray-text: #61758a;
  --color-gray-input: #f0f2f5;
  --color-gray-line: #e5e8eb;
  --color-light-white: #f5f5f5;
  --color-rojo-pastel: #f28b82;
  --color-rojo: #e53935;
  --color-rojo-medium: #b71c1c;
  --color-rojo-oscuro: #9c041c;
  --color-bordo: #840414;
}

html {
  @apply m-0 p-0 h-full;
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-background-white h-full;
}

main {
  @apply h-full;
}
