<aside class="h-full bg-gray-input border-r-2 b-gray-line">
  <div>
    <img src="/logo_navbar.webp" />
    <h2>Padel Villanueva</h2>
  </div>
  <ul>
    <li>Jugadores</li>
    <li>Torneos</li>
  </ul>
  <a></a>
</aside>
