---
import AdminLayout from "@/layouts/AdminLayout.astro";
import ListadoTorneos from "@/components/admin/ListadoTorneos";
---

<AdminLayout>
  <h1 class="text-black">HOLAA</h1>
  <ListadoTorneos client:load />
</AdminLayout>
