---
import PadelBackground from "@/components/home/PadelBackground.astro";
import HeroContent from "@/components/home/HeroContent.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Padel Villanueva">
  <div class="relative w-full min-h-screen overflow-hidden">
    <div class="absolute inset-0 z-0">
      <PadelBackground />
    </div>

    <section
      class="relative z-10 w-full min-h-screen flex flex-col items-center justify-center p-4 pt-24 md:pt-4"
    >
      <HeroContent />
    </section>
  </div>
</Layout>
