---
import { Instagram, Facebook, Map } from "@lucide/astro";
---

<div class="flex flex-col items-center text-center max-w-4xl mx-auto px-4">
    <h1
      class="absolute top-35 sm:static text-white font-bold text-6xl md:text-8xl tracking-tight leading-none drop-shadow-2xl mb-2 animate-titleSlideDown"
    >
      <span class="inline-block">PADEL</span>
      <span class="vfc-animation relative inline-block">
        <span class="vfc-text">VFC</span>
      </span>
    </h1>

    <h2
      class="absolute top-55 sm:static font-light text-2xl md:text-3xl text-gray-input drop-shadow-lg animate-subtitleFadeIn"
    >
      Tu cancha. Tu ranking. Tu comunidad.
    </h2>
  

  <div class="flex space-x-8 opacity-80 animate-logosFadeIn">
    <img src="logo_recortado.svg" alt="Logo Padel VFC" class="h-64 sm:h-76 w-auto" />
  </div>

  
  <div class="flex flex-col items-center animate-logosFadeIn">
    <div class="flex items-center space-x-6 mb-3 text-white">
      <a
        href="https://www.instagram.com/padel.vfc/"
        aria-label="Instagram"
        target="_blank"
        class="hover:text-pink-500 transition-colors hover:-translate-y-0.5"
      >
        <Instagram class="size-10" />
      </a>
      <a
        href="https://www.facebook.com/padel.vfc/?app=fbl"
        aria-label="Facebook"
        target="_blank"
        class="hover:text-blue-400 transition-colors hover:-translate-y-0.5"
      >
        <Facebook class="size-10" />
      </a>
      <a
        href="https://www.google.com/maps/place/Cancha+de+Padel+V.F.C/@-35.6763627,-58.4353891,20z/data=!4m6!3m5!1s0x9597f91cadee19e7:0xc0134154032e17ba!8m2!3d-35.676364!4d-58.4354468!16s%2Fg%2F11l35p0qb1?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D"
        aria-label="Ubicación"
        target="_blank"
        class="hover:text-red-400 transition-colors hover:-translate-y-0.5"
      >
        <Map class="size-10" />
      </a>
    </div>
    <p
      class="font-medium text-md text-gray-input opacity-75 animate-locationFadeIn"
    >
      📍 Villanueva, Buenos Aires, Argentina
    </p>
  </div>
</div>

<style>
  @keyframes titleSlideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes subtitleFadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes locationFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes logosFadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-titleSlideDown {
    opacity: 0;
    animation: titleSlideDown 1.2s forwards 0.3s;
  }

  .animate-subtitleFadeIn {
    opacity: 0;
    animation: subtitleFadeIn 1.2s forwards 0.6s;
  }

  .animate-locationFadeIn {
    opacity: 0;
    animation: locationFadeIn 1.2s forwards 0.9s;
  }

  .animate-logosFadeIn {
    opacity: 0;
    animation: logosFadeIn 1.2s forwards 1.2s;
  }

  .vfc-animation {
    position: relative;
    font-weight: 900;
    color: #8a0303;
    margin-left: 4px md:margin-left: 8px;
  }

</style>