---
import CarrouselAstro from "@/components/home/Carrousel.astro";
---

<div class="absolute inset-0 w-full h-full">
  {/* Carrusel de fondo */}
  <div class="absolute inset-0">
    <CarrouselAstro />
  </div>

  {/* Overlay con gradiente y opacidad */}
  <div class="absolute inset-0 bg-black/40 bg-opacity-70"></div>
</div>
