---
import Navbar from "@/components/common/Navbar.astro";
import "@/styles/global.css";
import Providers from "@/providers/providers";
import Analytics from "@vercel/analytics/astro";

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Padel Villanueva</title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <meta name="keywords" content="padel, villanueva, torneo, ranking" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />

    <link rel="preload" as="image" href="/logo_navbar_blanco.svg" />

    <title>{title}</title>
    <meta
      name="description"
      content="Pagina web de la cancha de Padel del Villanueva Futbol Club, donde podrás ver el ranking de la misma, e información sobre los torneos que se llevan a cabo en la misma."
    />
    <Analytics />
  </head>

  <body>
    <Providers client:load>
      <Navbar />
      <main>
        <slot />
      </main>
    </Providers>
  </body>
</html>
