---
const { text } = Astro.props;
---

<button
  class="w-auto h-12 text-white bg-rojo-oscuro/90 hover:bg-rojo-medium hover:transition p-2 flex items-center justify-center rounded-xl transform hover:scale-105 transition duration-300"
>
  {text}
</button>
