<table class="border-2 border-gray-line rounded-xl w-full max-w-6xl mt-6">
  <thead class="bg-bordo text-white uppercase">
    <tr>
      <th scope="col" class="px-6 py-3 text-start text-xs font-medium"
        >Nombre</th
      >
      <th scope="col" class="px-6 py-3 text-start text-xs font-medium"
        >Imagen</th
      >
      <th
        scope="col"
        class="px-6 py-3 text-start text-xs font-medium"
        data-column="category">Categoria</th
      >
      <th
        scope="col"
        class="px-6 py-3 text-start text-xs font-medium"
        data-column="genero">Genero</th
      >
      <th scope="col" class="px-6 py-3 text-start text-xs font-medium"
        >Editar</th
      >
    </tr>
  </thead>
  <tbody class="bg-gray-input text-title-black">
    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium"> Ramrio </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium"> </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm"> RAMIRO </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm"> RAMIRO </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm"> </td>
    </tr>
  </tbody>
</table>
